@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

#container{
    /* border: 1px solid black; */
    margin: 50px;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items:center  ;
    box-shadow: 0px 5px 10px slategray;
    font-family: Montserrat;
    background-color: #fbe2ce;
}

/* panneau de controle */
header{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

#controlsButtons{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    flex-wrap: wrap;   
    

}

#play{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#back, #next{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;

}

#lowerVolume, #higherVolume{
    width: 21%;
}

/* titre en cours de lecture */
#player{
width: 100%;
}
#artist{
    margin-bottom: 7.5px;
}
#title{
    margin-top:7.5px ;
}

#progress{
    width: 100%;
}



/* research field  */
#researchBox{
margin-top: 30px;
margin-bottom: 20px;
display: flex;
width: 100%;
flex-direction:row;
justify-content: center;
}

#searchfield{
    min-width:80%
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* links(nav) */

nav{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    width: 80%;
    border: 1px solid;
}


nav>a{
    border-bottom: 1px solid;
    text-decoration: none ;
}

nav> a:last-child{
    border-bottom: 0px;
}

/* tracks container */
#tracksDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* all covers */
.covers{
    box-shadow: 0px 5px 10px slategray;
    margin: 10px;
    padding: 10px;
    border-radius: 3%;
    background-color: azure;

}

.covers:hover{
box-shadow: 0px 2px 5px rgb(112, 183, 253); 
transform: scale(1.12);
}

.titleTrack{
font-size: 13px;
font-weight: bold;
}

.artisteTrack{
font-size: 12px;
font : italic;

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
main{
    flex-direction: row;
    align-items: flex-start;
}

#player{
    width: 50%;
    justify-content: space-around;
    align-content: center;

    }


    #progress{
        width: 100%;
    }
    
    /* research field  */
    #researchBox{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    width: 50%;
    flex-direction:row;
    justify-content: center;
    }
    


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

